<div class="container-fluid mt-3">
<div class="row">
  <div class="col-sm-4 p-4 ">
<h1>{{title}}</h1>
<div class="card" style="width: 18rem;">
    <img src="https://th.bing.com/th/id/OIP.USns2A3tg4JnXg6ForwRGwHaKn?pid=ImgDet&rs=1" class="card-img-top" alt="...">
    <div class="card-body">
      <button type="button" class="btn btn-outline-primary">bay</button>
      <button type="button" class="btn btn-outline-warning">Like</button>
      <h5 class="card-title">Card title</h5>
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
     <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>
  <div class="col-sm-4 p-4 ">
  <h1>{{title}}</h1>
  <div class="card" style="width: 18rem;">
      <img src="https://www.exist.com.tn/59161-large_default/t-shirt.jpg" class="card-img-top" alt="...">
      
      <div class="card-body">
        <button type="button" class="btn btn-outline-primary">bay</button>
        <button type="button" class="btn btn-outline-warning">Like</button>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col-sm-4 p-4 ">
      <h1>{{title}}</h1>
      <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.HigLfE3xc7L51Y_StqR5cQHaKn?w=185&h=266&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button" class="btn btn-outline-primary">bay</button>
            <button type="button" class="btn btn-outline-warning">Like</button>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
</div>
</div>